# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# VIM swap file
*.swp

.deps

ABOUT-NLS
autom4te.cache
aclocal.m4
ar-lib
autoscan.log
config.h
config.h.in
config.log
config.status
config.guess
config.sub
configure
compile
depcomp
install-sh
libtool
Makefile
Makefile.in
stamp-h1
